#private{
   background: url(https://images.unsplash.com/photo-1586727569041-3eae63933d38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) 
}
#p1{
    text-align: center;
    font-size: 50px;
    color:white;
    padding-top:50px;
}